input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input[type=submit] {
    width: 25%;
    background-color: rgb(14, 172, 235);;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgb(14, 172, 235);;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}