.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 64%;
    left: 74%;
    transform: translate(-50%, -50%);
    }
    .textcentered {
        position: absolute;
        top: 64%;
        left: 74%;
        transform: translate(-50%, -50%);
        }   

.button{

    background-color: rgb(66, 65, 65);
    border: none;
    color: white;
    padding: 16px 222px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif; 

}
.header {
    background-color: rgb(66, 65, 65);
    padding: 30px;
    text-align: center;

    font-family: "Roboto Slab",Georgia,sans-serif;
    font-weight: 100;
    font-size:1.4rem; 
}
.heading{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 65, 65);
}

li {
    float: left;
    border-right:1px solid rgb(255, 255, 255);
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
}

li a:hover:not(.active) {
    background-color:  rgb(0, 0, 0);
}

.active {
    background-color: rgb(10, 10, 10);
}
